*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
}
form{
    width: 96%;
    max-width: 950px;
    margin: 20px auto;
    text-align: center;
}
form fieldset{
    padding: 20px 45px;
}
form legend{
    font-size: 22px;   
    text-align: left;
}
form input[type=text]{
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    margin-top: 30px;
    width: 80%;
    padding: 20px 20px;
}
form input[type=text]:focus, form select:focus, form textarea:focus{
    outline: 0;
}
form select{
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
    margin-top: 30px;
    display: inline-block;
    padding: 20px 20px;
    border: 1px solid #ccc;
}
form h2{
    margin-top: 20px;
}
.input{
    margin-top: 20px
}
.input span{
    margin-left: 13px;
    font-size: 15px;
    color: rgb(120, 120, 120);
}
form input[type=submit]{
    width: 140px;
    height: 40px;
    margin-top: 30px;
    border: 1px solid rgb(110, 110, 110);;
    background-color: rgb(140, 140, 140);
    color: rgb(80, 80, 80);
    font-size: 20px;
    cursor: pointer;
}
form textarea{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    height: 100px;
    width: 80%;
    padding: 20px 20px;
    resize: none;
    border: 1px solid #ccc;

}