*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial', 'Helvetica Neue', 
}
html,body{
    width: 100%;
}
.clear{
    clear: both;
}

@media screen and (max-width: 1090px){
    section.banner{
        width: 100%;
        height: 70vh;
        background-image: url(../imagens/banner.jpg);
        background-size: 100% 93%;
        background-repeat: no-repeat;
    }
    .text-banner1{
        padding: 7px 0;
        max-width: 350px;
        position: relative;
        top: 140px;
        left: 92px;
        line-height: 50%;
        text-transform: uppercase;
        transform: skew(-20deg);
    }
    .text-banner2{
        padding: 7px 0;
        max-width: 350px;
        position: relative;
        top: 140px;
        left: 82px;
        line-height: 50%;
        text-transform: uppercase;
        transform: skew(-20deg);/**fazer o vermelho inclinar*/
    }
    .text-banner3{
        padding: 7px 0;
        max-width: 350px;
        position: relative;
        top: 140px;
        left: 70px;
        line-height: 50%;
        text-transform: uppercase;
        transform: skew(-20deg);
    }
    .text-banner-single{
        width: 170px;
        height: 35px;
        font-size: 11px;
        padding: 15px 15px;
        color: white;
        line-height: 50%;
        background: rgba(230, 11, 22, 0.5);
    }
}